video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
  text-align: center;
  margin-top: 60px;
}

.container {
  display: flex;
  justify-content: center;
  font-family: 'Vollkorn', serif;
}

h1 {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(86,202,209,1) 100%);
  color: #73A9AD;
  padding: 10px;
  border-radius: 10px;
}

h2 {
  color: white;
}

button {
  padding: 15px;
  border-radius: 15px;
  border:none;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(86,202,209,1) 100%);
  font-size: 15px;
  color: #73A9AD;
  text-transform: uppercase;
  font-family: 'Vollkorn', serif;
}

@media all and  (max-width: 800px) {
  .App {
    margin-top: 90px;
  }

  }

@media all and  (max-width: 800px) {
    .App {
      margin-top: 130px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }
  
  }